<% include partials/header %>



<div class="container" id="mainContainer">

  <div class="jumbotron text-center" id="jumbotronHeader">
    <h1 id="theHeader" style="font-family: 'Carrois Gothic SC'">HiSnap</h1>
    <% if(currentUser){ %>
    <button data-toggle="modal" data-target="#addModal" class="ui linkedin button massive" id="new-pic-button" >
		  <i id="cameraIcon" class="fa fa-camera-retro " aria-hidden="true"></i>
	     Snap a picture
	</button>
	<% } else { %>
	
	  <% } %>
  </div>
  </div>


<div class="container">
<% allSnaps.forEach(function(theSnaps){ %>
  <div class="ui card theContent">
  <a href="/index/<%= theSnaps._id %>">
    <div class="image">
      <img src="<%= theSnaps.image %>">
    </div>
  </a>
    <div class="content text-center">
      <span class="right floated">
        <%= theSnaps.date %>
      </span>
      <span class="left floated"><i class="comment icon"></i>
      <%= theSnaps.comments.length %> comments</span>
      <a href="/profile/<%= theSnaps.author.id %>">
        <img class="ui avatar image" src="<%= theSnaps.author.image %>"> 
        <%= theSnaps.author.username %>
      </a>
    </div>
  </div>

<% }); %>
</div> 






<!--ADD FORM Modal//Bootstrap 3 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submit a picture</h4>
      </div>
      <div class="modal-body">
      <!--Modal text body starts here-->
        <% if(currentUser){ %>
        <form action="/profile/<%= currentUser._id %>" method="POST" id="loginform">
          <label>Name</label>
            <input type="text" name="name" class="form-control" id="newNameForm" required>
          <label>Image URL</label>
            <input type="text" name="image" class="form-control" id="newImageForm" required>
          <label>Description</label>
            <input type="text" name="description" class="form-control" id="newImageForm" maxlength="100" required>
      <!--Modal text body ends here-->
      </div>
      <div class="modal-footer">
          <button class="ui inverted green button">Add</button>
        </form>
        <% } %>
      <button type="button" class="ui inverted red button" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>





<% include partials/footer %>








