<% include partials/header %>



<div class="container" id="loginProfile">
<div class="row">
  <div class="col-md-3">
    <div class="profileInfo">
      <img class="img-thumbnail profileImage" src="<%= userProfile.image %>">
      <p class="authorprofileInfo"><%= userProfile.firstname %> <%= userProfile.lastname %></p> 
      <hr style="border-color: black">

    </div>

  </div>
  

  <div class="col-md-9 selfiePosted">
  <p class="authorPostedSelfies">My Snaps</p>
  <% userProfile.authorSelfies.forEach(function(mySelfies){ %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail" >
      <img src="<%= mySelfies.image %>" alt="...">
      <div class="caption">

        <h3><%= mySelfies.name %></h3>
        <p><%= mySelfies.description %></p>
        <p>
      <% if(currentUser && mySelfies.author.id.equals(currentUser._id)){ %>
          <form action="/index/<%= mySelfies._id %>?_method=DELETE" method="POST" id="profileForm">
            <button class="negative ui button tiny">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button class="positive ui button tiny" type="button" data-toggle="modal" data-target="#editModal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
          </form>

          </form>
      <% } %>
        </p>
      </div>

     </div>
  </div>

<% }); %>
</div>
</div>


</div>

<% include partials/footer %>
