<% include partials/header %>



		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="<%= userProfile.image %>" alt="" /></span>
						<h1 class="authorprofileInfo"><%= userProfile.firstname %> <%= userProfile.lastname %></h1>
						<ul class="icons">
							<li><a href="#" class="icon style2 fa-twitter" id="twitterIcon"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon style2 fa-facebook" id="facebookIcon"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon style2 fa-instagram" id="instagramIcon"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o" id="emailIcon"><span class="label">Email</span></a></li>
						</ul>
					</header>
					<h1>Snaps: <%= userProfile.mySnaps.length %></h1>
					<hr class='style-four'>



<section id="main">
	<div class="row" id="authorPhotos">
		<% userProfile.mySnaps.forEach(function(userSnaps){ %>
		<div class="col-sm-6 col-md-4">
		<a href="/index/<%= userSnaps._id %>">
			<div class="thumbnail">
				<h2 class="text-center snapName">
					<%= userSnaps.name %>
				</h2>
				<img src="<%= userSnaps.image %>">
				<div class="caption">
					<p class="snapDescription">
						<%= userSnaps.description %>
					</p>
					<hr class="hrLine">
				</div>
				<span>
				<ul class="icons myCaption">
					<li class="snapComment">
						<p class="snapComments">
						<%= userSnaps.comments.length%> 
						<i class="fa fa-commenting-o" aria-hidden="true"></i>
						</p>
					</li>
					<li class="snapDeleteButton">
						<% if(currentUser && userSnaps.author.id.equals(currentUser._id)){ %>
					<form action="/index/<%= userSnaps._id %>?_method=DELETE" method="POST" class="profileForm">
						<button class="inverted red ui button tiny">
							<i class="fa fa-minus" aria-hidden="true"></i>
						</button>
					</form>
				<% } %>
					</li>
				</ul>
				</span>
			</div>
		</a>
		</div>
		<% }); %>
	</div>
</section>


















					<hr class="style-four">
				<!-- Footer -->


					<footer id="footer">
					<h1>Testimonials: <%= userProfile.testimonials.length %></h1>




<div class="ui minimal comments">
<% userProfile.testimonials.forEach(function(userTestimonials){ %>
	<div class="comment">
    <a class="avatar" href="/profile/<%= userTestimonials.author.id %>">
      <img src="<%= userTestimonials.author.image %>">
    </a>
    <div class="content">
      <a class="author" href="/profile/<%= userTestimonials.author.id %>"><%= userTestimonials.author.username %></a>
      <div class="metadata">
        <span class="date"><%= userTestimonials.date %></span>
      </div>
      <div class="text">
        <%= userTestimonials.text %>
      </div>
    </div>
  </div>
<% }); %>
 </div>





<% if(currentUser){ %>
	<% if(JSON.stringify(currentUser._id) !== JSON.stringify(userProfile._id)){ %>
		<form action="/profile/<%= userProfile._id %>/testimonials" method="POST">
			<div class="ui fluid action input">
				<input type="text" class="form-control" name="testimonial[text]" placeholder="Add comment..." >
				<button class="btn btn-primary btn-xs">
					<i class="send icon"></i>
				</button>
			</div>			      
		</form>
	<% } %>
<% } else { %>
	<div class="alert alert-danger" role="alert">
					<span>
						<a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
					</span> / 
					<span>
						<a href="#" data-toggle="modal" data-target="#registerModal">Register</a>
					</span> to submit a comment
				</div>
<% } %>



	</footer>
</div>





<% include partials/footer %>