<% include partials/header %>



<div class="container" id="loginProfile">

<img class="img-thumbnail profileImage" src="<%= userProfile.image %>">

<div style="border: 2px solid black" class="text-center">
	<h1><%= userProfile.firstname %> <%= userProfile.lastname %> Selfies!</h1>
</div>

<div class="row">
<% userProfile.authorSelfies.forEach(function(mySelfies){ %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= mySelfies.image %>" alt="...">
      <div class="caption">
        <h3><%= mySelfies.name %></h3>
        <p><%= mySelfies.description %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
<% }); %>
</div>






</div>


<% include partials/footer %>
