<% include partials/header %>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="<%= userProfile.image %>" alt="" /></span>
						<h1 class="authorprofileInfo"><%= userProfile.firstname %> <%= userProfile.lastname %></h1>
						<h3>"<%= userProfile.description %>"</h3>
						<ul class="icons">
            <% if(userProfile.twitter.length !== 0 ){ %>
                <li>
                <a href="<%= userProfile.twitter %>" class="icon style2 fa-twitter" id="twitterIcon">
                  <span class="label">
                    Twitter
                  </span>
                </a>
              </li>
             <% } %>
             <% if(userProfile.facebook.length !== 0 ){ %>
                <li>
                <a href="<%= userProfile.facebook %>" class="icon style2 fa-facebook" id="facebookIcon">
                  <span class="label">
                    Facebook
                  </span>
                </a>
              </li>
              <% } %>
              <% if(userProfile.instagram.length !== 0 ){ %>
                <li>
                <a href="<%= userProfile.instagram %>" class="icon style2 fa-instagram" id="instagramIcon">
                  <span class="label">
                    Instagram
                  </span>
                </a>
              </li>
              <% } %>
							<li><a href="#" class="icon style2 fa-envelope-o" id="emailIcon"><span class="label">Email</span></a>
							</li>
						</ul>
						<% if(currentUser && userProfile._id.equals(currentUser._id)){ %>
						<button data-toggle="modal" data-target="#editProfileModal" class="ui inverted blue button">Edit Profile</button>
						<% } %>
					</header>
					<h1>Snaps: <%= userProfile.mySnaps.length %></h1> 
					<hr class='style-four'>



<section id="main">
	<div class="row" id="authorPhotos">
		<% userProfile.mySnaps.forEach(function(userSnaps){ %>
		<div class="col-sm-6 col-md-4">
		<a href="/snaps/<%= userSnaps._id %>">
			<div class="thumbnail">
				<h2 class="text-center snapName">
					<%= userSnaps.name %>
				</h2>
				<img src="<%= userSnaps.image %>">
				<div class="caption">
					<p class="snapDescription">
						<%= userSnaps.description %>
					</p>
					<hr class="hrLine">
				</div>
				<span>
				<ul class="icons myCaption">
					<li class="snapComment">
						<p class="snapComments">
						<%= userSnaps.comments.length%> 
						<i class="fa fa-commenting-o" aria-hidden="true"></i>
						</p>
					</li>
					<li class="snapDeleteButton">
						<% if(currentUser && userSnaps.author.id.equals(currentUser._id)){ %>
					<form action="/snaps/<%= userSnaps._id %>?_method=DELETE" method="POST" class="profileForm">
						<button class="inverted red ui button tiny">
							<i class="fa fa-minus" aria-hidden="true"></i>
						</button>
					</form>
				<% } %>
					</li>
				</ul>
				</span>
			</div>
		</a>
		</div>
		<% }); %>
	</div>
</section>

					<hr class="style-four">
				<!-- Footer -->
					<footer id="footer">
					<h1>Testimonials: <%= userProfile.testimonials.length %></h1>




<div class="ui minimal comments">
<% userProfile.testimonials.forEach(function(userTestimonials){ %>
	<div class="comment">
    <a class="avatar" href="/profile/<%= userTestimonials.author.id %>">
      <img src="<%= userTestimonials.author.image %>">
    </a>
    <div class="content">
      <a class="author" href="/profile/<%= userTestimonials.author.id %>"><%= userTestimonials.author.username %></a>
      <div class="metadata">
        <span class="date"><%= userTestimonials.date %></span>
      </div>
      <div class="text">
        <%= userTestimonials.text %>
      </div>
    </div>
  </div>
<% }); %>
 </div>





<% if(currentUser){ %>
	<% if(JSON.stringify(currentUser._id) !== JSON.stringify(userProfile._id)){ %>
		<form action="/profile/<%= userProfile._id %>/testimonials" method="POST">
			<div class="ui fluid action input">
				<input type="text" class="form-control" name="testimonial[text]" placeholder="Add comment..." >
				<button class="btn btn-primary btn-xs">
					<i class="send icon"></i>
				</button>
			</div>			      
		</form>
	<% } %>
<% } else { %>
	<div class="alert alert-danger" role="alert">
					<span>
						<a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
					</span> / 
					<span>
						<a href="#" data-toggle="modal" data-target="#registerModal">Register</a>
					</span> to submit a comment
				</div>
<% } %>
	</footer>
</div>





<!-- EDIT profile -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <form action="/profile/<%= userProfile._id %>?_method=PUT" method="POST">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Firstname</label>
            <div>
              <input type="text" name="profileEdit[firstname]" class="form-control" id="newNameForm" autocomplete="off" value="<%= userProfile.firstname %>" required>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Lastname</label>
            <div>
              <input type="text" name="profileEdit[lastname]" class="form-control" id="newNameForm" autocomplete="off" value="<%= userProfile.lastname %>" required>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Short Description</label>
      <div>
        <input type="text" name="profileEdit[description]" class="form-control" id="newImageForm" placeholder="description" value="<%= userProfile.description %>"autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Image URL:</label>
      <div>
        <input type="text" name="profileEdit[image]" class="form-control" id="newImageForm" value="<%= userProfile.image %>" autocomplete="off" required>
      </div>
    </div>
    <hr>
    <h2>Social Network (Optional)</h2>
      <div class="row">
        <div class="col-md-12 facebookInput">
          <div class="input-group">
            <span class="input-group-addon" id="facebookInput">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </span>
              <input type="text" class="form-control" name="profileEdit[facebook]" value="<%= userProfile.facebook %>" placeholder="Facebook URL..." aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-group twitterInput">
            <span class="input-group-addon" id="twitterInput">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>
              <input type="text" class="form-control" name="profileEdit[twitter]" value="<%= userProfile.twitter %>" placeholder="Twitter URL..." aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-group instagramInput">
            <span class="input-group-addon" id="instagramInput">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </span>
              <input type="text" class="form-control" name="profileEdit[instagram]" value="<%= userProfile.instagram %>" placeholder="Instagram URL..." aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
    <hr>
      </div>
      <div class="modal-footer">
        <button class="ui inverted green button" id="buttonSubmit">Edit</button>
      </form>
        <button class="ui inverted red button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<% include partials/footer %>