<% include partials/header %>
<script src="/javascripts/jquery-3.1.0.js"></script>





<div class="container" id="profileShow">
<div class="row">
	<div class="col-md-3">
	<ul id="sidebarText">
		<li>Text 1</li>
		<li>Text 2</li>
		<li>Text 3</li>
	</ul>
	</div>
	<div class="col-md-9">
		<div class="thumbnail">
			<div class="text-center">
				<span>
					<img src="<%= userID.author.image%>" class="img-circle authorImageOnProfile">
				</span>
				<div id="divAuthorUsername">
					<span id="authorUsername">
						<strong><%= userID.author.username %></strong>
					</span>
				</div>
					<img src="<%= userID.image %>" id="profilePic">
					<p id="profileName"><em><strong><%= userID.name %></strong> </em></p>
			</div>
				<div style="text-align:center;">
				 <form action="/index/<%= userID._id%>/edit" method="GET" id="profileForm">
   		<% if(currentUser && userID.author.id.equals(currentUser._id)){ %>
   				 <button class="ui grey button tiny">
		  			<i class="configure icon"></i>
		  			Edit profile
					</button>
					</form>
				<form action="/index/<%= userID._id%>?_method=DELETE" method="POST" id="profileForm">
		   				 <button class="negative ui button tiny">
				  			<i class="configure icon"></i>
				  			Delete profile
							</button>
		<% } %>
					</form>
				</div>
		</div>

		
		

<div class="well well-sm clearfix">
			

<div id="commentsDiv">
	<h3 class="ui dividing header">Comments</h3>
</div>

<% userID.comments.forEach(function(theComment){ %>
<div class="ui comments">

  <div class="comment">
    <a class="avatar" href="/profile/<%= theComment.author.id %>">
      <img src="<%= theComment.author.image %>">
    </a>
    <div class="content">

      <a class="author authorname" href="/profile/<%= theComment.author.id %>"><%= theComment.author.username%></a>
      <div class="metadata">
        <span class="date"><%= theComment.date %>
      </div>
      <div class="text">
         <h5 class='thetext'> <%= theComment.text %> </h5> 

         <form action="/index/<%= userID._id %>/comments/<%= theComment._id %>?_method=PUT" method="POST" class="submitEditedComment">

         	<div class="ui mini action input">
	  			<input type="text" class="theinput" name="comment[text]">
	  			<button class="ui icon blue button">
	    		<i class="chevron right icon"></i>
	  			</button>
			</div>
         </form>
      </div>

      <div class="actions">
        <a class="replyBTN">Reply<i class="reply icon"></i></a>
        <% if(currentUser && theComment.author.id.equals(currentUser._id)){ %>
	        <a class="deleteBTN" href="/index/<%= userID._id %>/comments/<%= theComment._id %>?_method=DELETE">Delete<i class="trash outline icon"></i></a>
	        <a class="editBTN">Edit<i class="edit icon"></i></a>
	        <p class="userCommentId"><%= theComment._id %></p>
        <% } %>
      </div>
    </div>
  </div>
</div>

		<% }); %>






<% if(currentUser){ %>
<form action="/index/<%= userID._id %>/comments" method="POST">
<div class="ui fluid action input">
<input type="text" class="form-control" name="comment[text]" placeholder="Add comment..." >
<button class="btn btn-primary btn-xs">
Send<i class="send icon"></i>
</button>
</div>			      
</form>
<% } else { %>
	<div class="alert alert-danger" role="alert"><span><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></span> / <span><a href="#" data-toggle="modal" data-target="#registerModal">Register</a></span> to submit a comment</div>
<% } %>
		</div>
		</div>
	</div>
</div>	












<script src="../javascripts/jquery-3.1.0.js"></script>
<script type="text/javascript" src="../javascripts/checkPass.js"></script>
<script type="text/javascript" src="../javascripts/myjquery.js"></script>
<% include partials/footer %>