<% include partials/header %>




<div class="container" id="searchProfile">	

<div class="row">
<% foundUser.forEach(function(theUser){ %>

<div class="col-lg-4">
	<div class="ui card">
  <div class="image">
    <img src="<%= theUser.image %>">
  </div>
  <div class="content">
    <a class="header text-center" href="/profile/<%= theUser._id%>"><%= theUser.firstname %> <%= theUser.lastname %> </a> <br>
    <div class="meta">
      <span>Joined date: <%= theUser.dateJoined %></span>
    </div>
    <div class="description">
      <%= theUser.description %>
    </div>
  </div>
  <div class="extra content">
    <a href="/profile/<%= theUser._id %>">
      <i class="user icon"></i>
        Selfies: <%= theUser.authorSelfies.length %> 

    
    </a>
  </div>
</div>
</div>
<% }); %>


</div>
</div>





<% include partials/footer %>