<% include partials/header %>




<div class="container" id="searchProfile">	
<h1>Search Photo</h1>
<form action='/searchphoto' method='POST'>
<div class="ui fluid transparent icon input">
  <input type='text' name='namephoto' placeholder="Search photo..." value="<%= theKeywordPhoto %>">
  <i class="search icon"></i>
</form>
</div>




<% foundPhoto.forEach(function(thePhoto){ %>
<div class="ui card theContent">
  <a href="/snaps/<%= thePhoto._id %>">
    <div class="image">
      <img src="<%= thePhoto.image %>">
    </div>
  </a>
    <div class="content text-center">
      <span class="right floated">
        <%= thePhoto.date %>
      </span>
      <span class="left floated"><i class="comment icon"></i>
      <%= thePhoto.comments.length %> comments</span>
      <a href="/profile/<%= thePhoto.author.id %>">
        <img class="ui avatar image" src="<%= thePhoto.author.image %>"> 
        <%= thePhoto.author.username %>
      </a>
    </div>
  </div>

<% }); %>
</div>





<% include partials/footer %>