<% include partials/header %>




<div class="container" id="searchProfile">	
<div class="row">
<form action='/searchuser' method='POST'>
  <div class="ui fluid transparent icon input">
    <input type="text" name="nameuser" placeholder="Search user..." value="<%= theKeywordName %>">
    <i class="search icon"></i>
  </div>
</form>


<% foundUser.forEach(function(theUser){ %>
<div class="col-lg-4">
	<div class="ui card">
  <a href="/profile/<%= theUser._id %>">
    <div class="image">
      <img src="<%= theUser.image %>">
    </div>
  </a>
    <div class="content">
      <a class="header text-center" href="/profile/<%= theUser._id%>"><%= theUser.firstname %> <%= theUser.lastname %> </a> <br>
      <div class="meta">
        <span>Joined date: <%= theUser.dateJoined %></span>
      </div>
      <div class="description">
        <%= theUser.description %>
      </div>
    </div>
    <div class="extra content">
      <a href="/profile/<%= theUser._id %>" class="cameraIcon">
        <i class="fa fa-camera" aria-hidden="true"></i> : <%= theUser.mySnaps.length %> 
        <i class="fa fa-comments-o" aria-hidden="true" id="testimonialCount"> : <%= theUser.testimonials.length %> </i>
    
      </a>
    </div>
  </div>
</div>

<% }); %>


</div>
</div>





<% include partials/footer %>