<% include partials/header %>





<div class="container" id="profileShow">
		<div class="thumbnail">
			<div class="text-center">
				<span class="authorImageName">
					<a href="/profile/<%= userID.author.id %>">
						<img class="ui avatar image" src="<%= userID.author.image %>">
						<span class="authorName">
							<%= userID.author.username %>
						</span>
					</a>
				</span>
				<span class="right floated">
					<h4><%= userID.date %></h4>
				</span>	
					<img src="<%= userID.image %>" id="profilePic">
					<p id="profileName">
						<em>
							<strong>
								<%= userID.name %>
							</strong>
						</em>
					</p>
					<%= userID.description %>
			</div>

			<div>
		   		<% if(currentUser && userID.author.id.equals(currentUser._id)){ %>
		   			 <button class="ui brown button medium" data-toggle="modal" data-target="#editModal">
				  			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					 </button>
					 <form action="/index/<%= userID._id%>?_method=DELETE" method="POST" id="profileForm">
				   		<button class="negative ui button medium">
						  	<i class="fa fa-minus" aria-hidden="true"></i>
						</button>
				<% } %>
					 </form>
			</div>
		</div>

		
		

<div class="well well-sm clearfix">
<div id="commentsDiv">
	<h3 class="ui dividing header">Comments: <%= userID.comments.length %></h3>
</div>
<% userID.comments.forEach(function(theComment){ %>
<div class="ui comments">
  <div class="comment">
    <a class="avatar" href="/profile/<%= theComment.author.id %>">
      <img src="<%= theComment.author.image %>">
    </a>
    <div class="content">
      <a class="author authorname" href="/profile/<%= theComment.author.id %>"><%= theComment.author.username%></a>
      <div class="metadata">
        <span class="date"><%= theComment.date %>
      </div>
      <div class="text">
         <h5 class="thetext"> <%= theComment.text %> </h5> 
         <form action="/index/<%= userID._id %>/comments/<%= theComment._id %>?_method=PUT" method="POST" class="submitEditedComment">
         	<div class="ui mini action input">
	  			<input type="text" class="theinput" name="comment[text]">
	  			<button class="ui icon blue button">
	    		<i class="chevron right icon"></i>
	  			</button>
			</div>
         </form>
      </div>

      <div class="actions">
        <% if(currentUser && theComment.author.id.equals(currentUser._id)){ %>
	        <a class="deleteBTN" href="/index/<%= userID._id %>/comments/<%= theComment._id %>?_method=DELETE">
	        	<i class="trash outline icon"></i>
	        </a>
	        <a class="editBTN">
		        <i class="edit icon"></i>
	        </a>
	        <p class="userCommentId">
	        	<%= theComment._id %>	
	        </p>
        <% } %>
      </div>
    </div>
  </div>
</div>
		<% }); %>






<% if(currentUser){ %>
	<form action="/index/<%= userID._id %>/comments" method="POST">
		<div class="ui fluid action input">
			<input type="text" class="form-control" name="comment[text]" placeholder="Add comment..." >
			<button class="btn btn-primary btn-xs"><i class="send icon"></i>
			</button>
		</div>			      
	</form>
<% } else { %>
				<div class="alert alert-danger" role="alert">
					<span>
						<a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
					</span> / 
					<span>
						<a href="#" data-toggle="modal" data-target="#registerModal">Register</a>
					</span> to submit a comment
				</div>
			<% } %>
			</div>
		</div>
</div>	








<!--EDIT FORM Modal//Bootstrap 3 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit</h4>
      </div>
      <div class="modal-body">
      <!--Modal text body starts here-->
        
          <form action="/index/<%= userID._id %>?_method=PUT" method="POST">
	          <label>Name</label>
	          <input type="text" name="user[name]" class="form-control" id="newNameForm" value="<%= userID.name %>">
	          <label>Image URL</label>
	          <input type="text" name="user[image]" class="form-control" id="newImageForm" value="<%= userID.image %>">
	          <label>Description</label>
	          <input type="text" name="user[description]" class="form-control" id="newImageForm" maxlength="100" value="<%= userID.description %>">

      <!--Modal text body ends here-->
      </div>
      <div class="modal-footer">
          	  <button class="ui inverted green button">Submit</button>
          </form>
              <button type="button" class="ui inverted red button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>















<% include partials/footer %>