<% include partials/header %>



<div class="container" id="mainContainer">
  <div class="jumbotron text-center" id="jumbotronHeader">
    <h1 id="theHeader" style="font-family: 'Carrois Gothic SC'">Snap a Selfie. <br> Share with the world.</h1>
    <% if(currentUser){ %>
    <button data-toggle="modal" data-target="#addModal" class="ui inverted blue button massive" id="new-pic-button" >
		  <i id="cameraIcon" class="fa fa-camera-retro " aria-hidden="true"></i>
	     Share a selfie
	</button>
	<% } else { %>
	
	  <% } %>
  </div>





<div class="row container">
<% allUsers.forEach(function(newUsers){ %>
  <div class="col-lg-3 col-md-3 theDiv1 hvr-grow-shadow">
  <div class="authorProfile">
    <a href="/profile/<%= newUsers.author.id %>">
      <img src="<%= newUsers.author.image%>" class="img-circle authorImage" >
      <span class="authorName"><%= newUsers.author.username %></span>
    </a>
    <span class="date"><%= newUsers.date %></span>
  </div>
  <a href="/index/<%= newUsers._id %>">
  <div class="theDiv2">
    <img src="<%= newUsers.image %>" class="thePictures">
  </div>
      <div class="theDiv3 text-center">
        <span><strong><%= newUsers.name %></strong></span>
      </div>
    </a>
  <span class="picDescription"><em><%= newUsers.description %></em></span>
  <div class="theDivFooter">
      <i class="fa fa-arrow-up upicon" style="font-size: 19px" aria-hidden="true"><strong>0</strong></i>
      <i class="fa fa-arrow-down downicon" style="font-size: 19px" aria-hidden="true"><strong>0</strong></i>
    <span class="commentFooter"><%= newUsers.comments.length %>  Comments</span>
  </div>
</div>
<% }); %>
</div>





<!--ADD FORM Modal//Bootstrap 3 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submit a picture</h4>
      </div>
      <div class="modal-body">
      <!--Modal text body starts here-->
        <% if(currentUser){ %>
        <form action="/profile/<%= currentUser._id %>" method="POST" id="loginform">
          <label>Name</label>
          <input type="text" name="name" class="form-control" id="newNameForm" required>
          <label>Image URL</label>
          <input type="text" name="image" class="form-control" id="newImageForm" required>
          <label>Description</label>
          <input type="text" name="description" class="form-control" id="newImageForm" maxlength="100" required>
      <!--Modal text body ends here-->
      </div>
      <div class="modal-footer">
          <button class="ui inverted green button">Add</button>
        </form>
        <% } %>
      <button type="button" class="ui inverted red button" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>





<% include partials/footer %>








